/* Bg colors */

body{
	background-color: #f3f3f3;
}

.white-bg{
	background-color: #fff;
}
.white-bg--smoke{
	background-color: $white-smoke;
}
.gray-bg{
	background-color: $gray;
	color: $white;
}
.gray-bg--medium{
	background-color: $gray-medium;
	color: $white;
}
.gray-bg--light{
	background-color: $gray-light;
	color: $white;
}
.pink-bg{
	background-color: $pink;
	color: $white;
}
.pink-bg--medium{
	background-color: $pink-medium;
	color: $white;
}
.pink-bg--light{
	background-color: $pink-light;
	color: $white;
}

/* Block padding */
.content-block{
	padding: 20px 30px;

}
.clear{
	@include legacy-pie-clearfix;
}
.header, .footer, .content-row, .content-block{
	@include legacy-pie-clearfix;
}
.content-row{
	overflow: hidden;
	position: relative;
}

/* Header blocks */

.header-logo{
	background-color: #f3f3f3;
}
.b-logo, .b-slogan{
	float: left;
}
.b-logo--header, .b-slogan--header{
	width: 60%;
}
.b-logo--header{
	height: 60px;
}

.b-apply-university{
	float: left;
	padding-top: 10px;
	text-align: right;
	width: 40%;
}
.b-social{

}
.content-block--slogan{
 	padding: 15px 30px;
}
.b-social--header{
	float: left;
	text-align: right;
	width: 40%;
}
.social-items{
	margin: 0;
	padding: 0;
	list-style: none;
}
.social-item{
	display: inline-block;
	margin-left: 5px;
}

/* Footer block */
.b-social--footer{
	display: block;
	margin-top: 40px;
}

/* Upcoming */
.up-date, .up-name{
	margin-top: 50px;
}

.up-date{
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}
.up-date--right{
	text-align: right;
}
.up-name{
	margin: 90px 0 0 40px;
}


/* Additional block */
.additional {

}
.additional-preview{
	position: relative;
	width: 200px;
	float: left;
	&:after{
		content: '';
		position: absolute;
		right: -20px;
		top: 25px;
		width: 0;
		height: 0;
		border-right: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid #48586f;
		border-top: 10px solid transparent;
	}
	&.gray-bg{
		&:after{
			border-left-color: $gray;
		}
	}
	&.gray-bg--medium{
		&:after{
			border-left-color: $gray-medium;
		}
	}
	&.gray-bg--light{
		&:after{
			border-left-color: $gray-light;
		}
	}
	&.white-bg{
		&:after{
			border-left-color: $white;
			z-index: 1;
		}
	}
	&.pink-bg{
		&:after{
			border-left-color: $pink;
		}
	}
}


.additional-preview.gray-bg--light{
	&:after{
		border-left-color: #555555;
	}
}

.additional-content{

}
/* Misc */

.video-preview{
	height: 305px;
}
.align-bottom{
	position: absolute;
	bottom: 20px;
}

.photo{
	float: left;
}
.photo--big{
	width: 200px;
	height: 200px;
}
.photo--medium{
	width: 100px;
	height: 100px;
}
.photo--small{
	width: 50px;
	height: 50px;
}

/* Date */
.date{
	text-align: center;
}
.date--border{
	border: 2px solid $border_color;
	padding: 10px 0;
}

.course-place{
	margin: 10px 0;
}

.promo{
	text-align: center;
	margin: 90px;
}