.btn{
	display: inline-block;
	border: 1px solid $border_color;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	padding: 10px;
	cursor: pointer;
	@include border-radius(2px, 2px);
}
.btn--pink{
	color: $pink;
	background: $white;
	&:hover{
		color: $white;
		background-color: $pink;
	}
}
.btn--white{
	color: $white;
	&:hover{
		color: $white;
	}
}
.btn--wide{
	padding: 10px 35px;
}
.btn--upcoming{
	margin-left: 45px;
}
