input::-webkit-input-placeholder { /* WebKit browsers */
	color:    inherit;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    inherit;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    inherit;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    inherit;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
	color:    inherit;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    inherit;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    inherit;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    inherit;
}

.subscribe--footer{
   position: relative;
}
.input{
	width: 100%;
	border: 1px solid $border_color;
	height: 30px;
	padding: 5px 0;
	background: none;
	color: inherit;
}
.selectbox{
	width: 100%;
	border: 1px solid $border_color;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	background: none;
	color: inherit;
	background-image: url("../images/arrow-down.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
option{
	color: black;
}
.input--submit{
	position: absolute;
	right: -1px;
	top: 0;
	width: 40px;
	height: 42px;
	border: 1px solid $border_color;
	border-radius: 0;
	background-color: #fff;
	background-image: url("/images/arrow_right.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	&:focus{
		border: 1px solid $border_color;
	}
}
.form__legend{
	margin-bottom: 5px;
}

.form-container--2{
	.form-col1{
		width: 50%;
		float: left;
	}
}
.input--col1{
	width: 85%;
	padding: 5px 0 5px 20px;
	margin-bottom: 20px;
}
.selectbox--col1{
	width: 85%;
	padding: 5px 0 5px 20px;
	margin-bottom: 20px;
}
textarea.input--col1{
	height: 100px;
}