@import "soc/*.png";
@include all-soc-sprites;

.social__ico{
	display: block;
	width: 20px;
	height: 20px;
}
.ico--login{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: url("../images/ico-login.png");
	background-repeat: no-repeat;
}

.ico{
	padding: 5px 0 5px 30px;
	background-repeat: no-repeat;
	display: inline-block;
}
.ico--white{
	color: #fff;
}
.ico__link{
	text-decoration: none;
}
.ico__link--white{
	color: #fff;
}
.ico--right{
	padding: 5px 30px 5px 0;
}
.ico--place{
	background-image: url("../images/place.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: block;
	float: left;
	margin-right: 10px;
}
.ico--stats{
	background-image: url("../images/stats.png");
	background-position: 0 -4px;
	padding-left: 40px;
}

@import "ico-big/*.png";
@include all-ico-big-sprites;
