/* Hack */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.nh{
	margin-bottom: 0;
	padding-bottom: 0;
}