.content-row--nav{
	overflow: visible;
}
.grid_6--nav{
	margin-bottom: 0;
	padding-bottom: 0;
}
.social-items{
	line-height: 10px;
}

.nav{
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav__item{
	display: inline-block;
	margin-left: 20px;
}
.nav__item--main{

}
.nav__link{
	color: #fff;
	text-decoration: none;
	&:hover{
		color: #fff;
	}
}
.nav__link--main{
	padding: 30px 5px 26px;
	display: block;
	border-bottom: 4px solid #303030;
	&.active, &:hover{
		border-color: $pink;
	}
}

.nav--main{
	margin: 18px 20px 0;
	font-size: 18px;
	font-weight: 300;
	text-align: right;
}
.nav--submain{
	text-align: right;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 1px;
}
.nav__item--submain{
	margin-left: 29px;
}
.nav__login-ico{
	margin: 0 10px;
}
.content-block--sub-nav{
	padding: 15px 30px;
}
.dropdown{
	position: relative;
}
.subnav{
	display: none;
	z-index: 1;
	text-align: right;
	background-color: $pink;
	position: absolute;
	list-style: none;
	right: 0;
}
.dropdown{
	&:hover{
		.subnav{
			display: block;
		}
	}
}
.subnav__item{
	padding: 5px 30px;
}
.subnav__link{
	color: #ebb6e3;
	font-weight: 300;
	text-decoration: none;
	white-space: nowrap;
	&:hover{
		color: #ebb6e3;
	}
}