.everslider {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.everslider .es-slides {
	position: relative;
	width: 100000px;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-transform: translate3d(0,0,0); /* fix jerking */
}

.everslider .es-slides > li {
	float: left;
	padding: 0!important;
	border: 0!important;
	margin: 0 10px 0 0;
	-webkit-transform: translate3d(0,0,0); /* fix jerking */
}

.everslider .es-slides img {
	width: 100%;
	height: auto;
	max-width: none;
}

.everslider .es-slides a > img {
	vertical-align: top;
}

.everslider .es-slides {
	-moz-user-select: text;
	-webkit-user-select: text;
	-webkit-user-drag: none;
}

/* Preload */

.everslider {

}

.everslider.es-slides-ready {
	background: none;
}

.es-slides {
	visibility: hidden;
}

.es-slides-ready .es-slides {
	visibility: visible;
}


/* Navigation */

.es-navigation a {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	padding: 7px;
	background-color: #eee;
}

.es-navigation .es-prev { left: 0 }
.es-navigation .es-next { right: 0 }

.es-navigation .es-first,
.es-navigation .es-last {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: default;
}

.es-navigation a span {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}

.es-navigation .es-prev span {

}

.es-navigation .es-next span {

}

.es-navigation .es-prev span.alt-arrow {

}

.es-navigation .es-next span.alt-arrow {

}

/* Pagination */

.es-pagination {
	margin: 0 auto 30px;
	width: 300px;
	text-align: center;
}

.es-pagination a {
	display: inline-block;
	width: 40px;
	height: 7px;
	overflow: hidden;
	text-indent: -9999px;
	background-color: #5f3d5a;
	margin:0 5px;
}

.es-pagination .es-active {
	background-color: #fff;
}

/* Ticker */

.es-ticker {
	position: absolute;
	bottom: 0;
	right: 0;
}

.es-ticker a {
	display: block;
	padding: 7px;
	background: #eee;
}

.es-ticker a span {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}

.es-ticker .es-play span {

}

.es-ticker .es-pause span {

}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
/* Navigation */
	.es-navigation .es-prev span {

	}
	.es-navigation .es-next span {

	}
/* Pagination */
	.es-pagination a {

	}
	.es-pagination a.es-active {

	}
/* Ticker */
	.es-ticker .es-play span {

	}
	.es-ticker .es-pause span {

	}
}


.slide-title{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 45px 0 20px;
	line-height: 48px;
}
.slide-note{
	text-align: center;
}
.slider--grid12{
	.slide-note{
		padding: 0 300px;
		height: 280px;
	}
}
.slide-annotation{
	line-height: 16px;
}
.slider--grid6{
	width: 600px;
	.slide-note{
		width: 540px;
	}
}