@mixin text($font-family: $ninesixty-font-family) {
	body {
		font: unquote("13px/1.4") $font-family;
		color: #3d3d3d;
	}
	a{
		color: $pink;
		text-decoration: none;
	}
	a:focus {
		outline: 1px dotted invert;
	}
	hr {
		border-color: #cccccc;
		border-style: solid;
		border-width: 1px 0 0;
		clear: both;
		height: 0;
	}
	h1, h2, h3 {
		font-weight: 700;
	}
	h4, h5{
		font-weight: 400;
	}
	h6{
		font-weight: 300;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	h6 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	ol {
		list-style: decimal;
	}
	ul {
		list-style: square;
	}
	li {
		margin-left: 30px;
	}
	p,
	dl,
	hr,
	h1,
	h2,
	h3,
	h4,
	ol,
	ul,
	pre,
	table,
	address,
	fieldset {
		margin-bottom: 15px;
	}
	p{
		font-weight: 300;
	}
}

@include text;
.center{
	text-align: center;
}

/* Slogan */
.slogan{
	font-size: 12px;
	text-transform: uppercase;
}
.slogan--footer{
	font-weight: 300;
}

/* Titles */
.page-title{
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 24px;
}
.title--white{
	font-weight: 700;
	margin-bottom: 15px;
	display: inline-block;
	line-height: 17px;
	text-transform: uppercase;
}
.title--light{
	font-weight: 400;
}
.title--regular{
	opacity: .8;
	font-weight: 300;
}

.up__title{
	font-size: 13px;
	text-transform: uppercase;
	opacity: .5;
	display: block;
	margin-bottom: 20px;
}



.up__name{
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	display: block;
	text-transform: uppercase;
}
.paragraf--footer{
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
		position: absolute;
		bottom: 20px;
	}
}
.contacts--footer{
	margin-bottom: 0;
	font-size: 12px;
	line-height: 16px;
}
.link--footer{
	text-decoration: none;
	color: #fff;
}


.more{
	display: inline-block;
	padding: 5px 30px 5px 0;
	text-transform: uppercase;
	color: $pink;
	text-decoration: none;
}
.more--pink{
	background-image: url("../images/arrow-right--pink.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
.more--white{
	color: #fff;
	background-image: url("../images/arrow-right--white.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.ico-big-title{
	display: inline-block;
	padding-left: 80px;
	height: 70px;
	font-size: 20px;
	line-height: 70px;
}

.no-list{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		margin-left: 0;
	}
}

/* Date */
.up__day{
	font-size: 180px;
	font-weight: 400;
	line-height: 140px;
	height: 140px;
	display: block;
	text-align: right;
	letter-spacing: -20px;
	padding-right: 20px;
}
.up_month{
	position: absolute;
	padding: 5px 10px 0;
	right: 5px;
	bottom: 0;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
}
.day{
	font-weight: 700;
	font-size: 60px;
	line-height: 1;
	display: block;
}
.month{
	text-transform: uppercase;
	color: #8d8d8d;
}
/* Time */
.hour{
	font-size: 48px;
	line-height: 1;
}
.min{
	font-size: 18px;
	vertical-align: top;
}
.dash{
	font-size: 48px;
	line-height: 1;
}

/* Price */
.price-note{
	display: block;
}
.price{
	font-weight: 700;
	display: block;
	margin-bottom: 20px;
}