/* Compass */
	/* Grid */
	$ninesixty-grid-width: 1200px;
	$ninesixty-gutter-width: 0;
	$ninesixty-font-family: unquote("'Ubuntu', sans-serif") !default;

	/* Border */
	$default-border-radius: 2px !default;


/* Border */
$border_color: #efefef;

/* Colors */
$pink: #a55198;
$pink-medium: #b973ae;
$pink-light: #c6acc2;

$white: #fff;
$white-smoke: #f3f3f3;

$gray: #303030;
$gray-medium: #3d3d3d;
$gray-light: #555;
