<div class="footer">
	<div class="container_12 content-row">
		<div class="grid_4 gray-bg">
			<div class="content-block">
				<div class="b-logo">
					<a class="logo__link" href="/">
						<img class="logo" src="images/logo--footer.png" alt="University"/>
					</a>
				</div>
				<div class="b-slogan b-slogan--footer">
					<span class="slogan slogan--footer">N°1 american University of<br> modern science</span>
				</div>
				<div class="clear"></div>
				<div class="b-social b-social--footer">
					<ul class="social-items">
						<li class="social-item"><a class="social__ico soc-tw-grey" href="#"></a></li>
						<li class="social-item"><a class="social__ico soc-in-grey" href="#"></a></li>
						<li class="social-item"><a class="social__ico soc-fb-grey" href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid_2 gray-bg">
			<div class="content-block">
				<span class="title--white">Get in Touch</span>
				<p class="paragraf--footer address">Rockefeller Center, 45<br> Rockefeller Plaza,<br> New York, NY, USA</p>
				<p class="paragraf--footer contacts contacts--footer">P:+1 123 444 5678<br> E:
					<a href="mailto:info@yoursite.com" class="link--footer">info@yoursite.com</a>
				</p>
			</div>
		</div>
		<div class="grid_2 gray-bg--light">
			<div class="content-block">
				<span class="title--white">Our Twitter</span>
				<p class="paragraf--footer">
					Elegant tailored work society into ornamental opera diplomatatic
				</p>
				<p class="paragraf--footer">
					<a class="link--footer" href="#">Follow US</a>
				</p>
			</div>
		</div>
		<div class="grid_4 white-bg--smoke">
			<div class="content-block">
				<span class="title--white">Newsletter Subscription</span>
				<p class="paragraf--footer form__legend">Please subscribe to our University newsletters</p>
				<form class="subscribe subscribe--footer" action="#">
					<input type="text" name="subscribe" class="input white-bg"/>
					<input type="submit" value="" class="input--submit"/>
				</form>
				<p class="paragraf--footer copyright">© 2013 University Site Name.All rights reserved</p>
			</div>
		</div>
	</div>
</div>