<div class="header">
	<div class="container_12 content-row content-row--nav">
		<div class="grid_6 grid_6--nav white-bg">
			<div class="content-block header-logo">
				<div class="b-logo b-logo--header">
					<a class="logo__link" title="University" href="/">
						<img class="logo" src="images/logo--header.png" alt="University"/>
					</a>
				</div>
				<div class="b-apply-university">
					<a class="btn btn--pink" href="#">Apply to University</a>
				</div>
			</div>
		</div>
		<div class="grid_6 grid_6--nav gray-bg">
			 <ul class="nav nav--main">
				<li class="nav__item nav__item--main">
					<a class="nav__link nav__link--main <%= 'active' if request.path == "/faculties.html" %>" href="faculties.html">Faculties</a>
				</li>
				<li class="nav__item nav__item--main">
					<a class="nav__link nav__link--main <%= 'active' if request.path == "/academics.html" %>" href="/academics.html">Academics</a>
				</li>
				<li class="nav__item nav__item--main">
					<a class="nav__link nav__link--main <%= 'active' if request.path == "/courses.html" %>" href="/courses.html">Courses</a>
				</li>
				<li class="nav__item nav__item--main dropdown">
					<a class="nav__link nav__link--main <%= 'active' if request.path == "/aboutus.html" %>" href="/aboutus.html">About Us</a>
					<ul class="subnav">
						<li class="subnav__item"><a class="subnav__link" href="index2.html">Index 2</a></li>
						<li class="subnav__item"><a class="subnav__link" href="content.html">Content Page</a></li>
						<li class="subnav__item"><a class="subnav__link" href="faculties2.html">Faculties 2</a></li>
					</ul>
				</li>
				<li class="nav__item nav__item--main">
					<a class="nav__link nav__link--main <%= 'active' if request.path == "/contact.html" %>" href="/contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container_12 content-row">
		<div class="grid_6 white-bg">
			<div class="content-block content-block--slogan">
				<div class="b-slogan b-slogan--header"><span class="slogan">University of modern science</span></div>
				<div class="b-social b-social--header">
					<ul class="social-items">
						<li class="social-item">
							<a class="social__ico soc-tw-pink" href="#" title="Twitter"></a>
						</li>
						<li class="social-item">
							<a class="social__ico soc-in-pink" href="#"></a>
						</li>
						<li class="social-item">
							<a class="social__ico soc-fb-pink" href="#" title="Facebook"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid_6 gray-bg--light">
			<div class="content-block content-block--sub-nav">
				<ul class="nav nav--submain">
					<li class="nav__item nav__item--submain"><a class="nav__link" href="#">Campus and Locations</a></li>
					<li class="nav__item nav__item--submain"><a class="nav__link" href="#">Directory</a></li>
					<li class="nav__item nav__item--submain"><a class="nav__link" href="#">Study advice</a></li>
					<li class="nav__item nav__item--submain"><a class="nav__link" href="#"><span class="ico--login nav__login-ico"></span>Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>