<!doctype html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>University</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag 'style' %>
</head>
<body>
	<%= render :partial => "header" %>
	<div class="content">
		<%= yield %>
	</div>

	<%= render :partial => "footer" %>
	<%= javascript_include_tag 'jquery.js' %>
	<%= javascript_include_tag 'slider.js' %>
	<%= javascript_include_tag 'selectbox.js' %>
	<%= javascript_include_tag 'options.js' %>
	<%= livereload_js %>
</body>
</html>