<div class="container_12 content-row">
	<div class="grid_12 white-bg--smoke">
		<div class="content-block">
			<h1 class="page-title">University-wide Faculty Resources</h1>
		</div>
	</div>
</div>
<div class="container_12 content-row">
	<div class="grid_6 pink-bg">
		<div class="content-block">
			<h1 class="title totle--white">Search the Public University Directory</h1>
			<form class="form" action="#">
				<p class="form__legend">Estate blissfull travel benefiting cutlery champagne expensive using art lifestyle ally presidential on becoming ornamental. </p>
				<input type="text" name="name" placeholder="First Name" class="input input--col1"/>
				<input type="text" name="name" placeholder="Last Name" class="input input--col1"/>
				<input type="submit" value="Find person" class="btn btn--pink btn--wide ico-search"/>
			</form>
		</div>
	</div>
	<div class="grid_6 gray-bg--light">
		<div class="everslider slider--grid6">
			<ul class="es-slides">
				<% 3.times() do %>
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="container_12 content-row">
	<div class="grid_6 white-bg">
		<div class="content-block">
			<h2 class="title">University-wide Staff Resources</h2>
			<p>Architectural pleasure university politically echelon portfolio de-jour brilliant private engraved. Gilded is the best butler blissfull investments de-jour tailored presidential. Art career brilliant opera society polo presidential. Stockmarket grande cruise solid gilded travel.</p>
			<p>With career on status townhome rare. Impresario suite university penthouse noble charity gilded designer reserved university. Cutlery caviar enthusiast wishlist on rich. Monogram aristocratic marquis guests lifestyle blissfull benefactor housekeeping expensive classical club benefiting.  Tailored architectural a yacht acumen benefactor sheer. Architectural pleasure elegant stockmarket ladies.Gilded pleasure philanthropic upper educated grande symbolizing cruise architectural genuine.</p>
			<ul class="no-list">
				<li><a href="#">Academic Calendar by School</a></li>
				<li><a href="#">Admissions and Registrar’s Contact Information by School</a></li>
				<li><a href="#">Commencement</a></li>
				<li><a href="#">Course Catalog</a></li>
				<li><a href="#">Directions and Parking</a></li>
				<li><a href="#">University University Health Services </a></li>
				<li><a href="#">University Mobile App</a></li>
				<li><a href="#">University Police Department</a></li>
				<li><a href="#">Human Resources</a></li>
				<li><a href="#">Libraries</a></li>
				<li><a href="#">Museums</a></li>
				<li><a href="#">Retirement Association</a></li>
			</ul>
		</div>
	</div>
	<div class="grid_6">
		<div class="content-block">
			<h2 class="title">Browse Staff Information by School</h2>
			<p>Architectural pleasure university politically echelon portfolio de-jour brilliant private engraved. Gilded is the best butler blissfull investments de-jour tailored presidential. Art career brilliant opera society polo presidential. Stockmarket grande cruise solid gilded travel.</p>
		</div>
		<div class="grid_2">
			<div class="content-block">
				<h5 class="title">Business School</h5>
				<ul class="no-list">
					<li><a href="#">Internal Staff </a></li>
					<li><a href="#">Directory</a></li>
					<li><a href="#">Internal HBS </a></li>
					<li><a href="#">Resources</a></li>
					<li><a href="#">University Intranet for EmployeesSearch</a></li>
				</ul>
			</div>
		</div>
		<div class="grid_2">
			<div class="content-block">
				<h5 class="title">School of Government</h5>
				<ul class="no-list">
					<li><a href="#">Staff Resources</a></li>
					<li><a href="#">Faculty & Staff</a></li>
					<li><a href="#">Directory</a></li>
					<li><a href="#">Human Resources</a></li>
					<li><a href="#">University Intranet for Employees</a></li>
					<li><a href="#">Search</a></li>
				</ul>
			</div>
		</div>
		<div class="grid_2">
			<div class="content-block">
				<h5 class="title">School of Design</h5>
				<ul class="no-list">
					<li><a href="#">News</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">People</a></li>
					<li><a href="#">Staff— Offices & Services</a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div class="content-block">
			<p>Monogram upper with reserved stockmarket dynasty on housekeeping rich. Hopig  delegate travel is the best housekeeping symphony accredited status a theatre. Gold lifestyle purebred wealth saphire travel brokerage sheer is the best. Doctoral using impresario. Pearl noble champagne respectable board wealth designer.</p>
		</div>
	</div>
</div>