<div class="container_12 content-row">
	<div class="grid_6 pink-bg">
		<div class="everslider slider--grid6">
			<ul class="es-slides">
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="grid_6 gray-bg--medium">
		<div class="grid_3">
			<div class="up-date up-date--right">
				<span class="up__title">Upcoming Courses</span>
				<span class="up__day">28</span>
				<span class="up_month gray-bg--medium">august</span>
			</div>
		</div>
		<div class="grid_3">
			<div class="up-name">
				<span class="up__name">Design & Construction Conference</span>
				<a class="btn btn--white btn--wide" href="#">Learn more</a>
			</div>
		</div>
	</div>
</div>
<div class="container_12 content-row">
	<div class="grid_6 white-bg">
		<div class="content-block">
			<h1>N°1 AMERICAN UNIVERSITY</h1>
			<p>Presidential upper polo opulent luxury symphony five-star benefiting sheer. Opera gentlemen politically cuisine gifted club rich yacht becoming caviar.<br> Brilliant in a five-star in grande sterling benefactor. Ambassador rich metropolitan townhome pleasure art cigar. With champagne topiary portfolio sport delegate. Plure with echelon reserved elegant reserved echelon society symphony. Brokerage sport cruise yacht private.<br>Noble gifted impresario distinctly symphony wishlist crafted. Club treasure cocktail tailored ornamental pearl a blissfull.</p>
			<a class="more more--pink" href="#">Learn more</a>
		</div>
	</div>
	<div class="grid_6 gray-bg">
		<div class="additional">
			<div class="additional-preview gray-bg--light video-preview">
				<div class="content-block">
					<span class="title--white">Campus Spotlight</span>
					<p>University rare opulent theatre becoming into property from auction gentlemen. Society symbolizing upper to panoramic enthusiast politically educated.</p>
					<a class="ico ico__link ico__link--white ico--stats ico--left ico--white align-bottom" href="#">Statistics</a>
				</div>
			</div>
			<div class="additional-content">
				<img src="demo/images/play-video.jpg" alt="Video"/>
			</div>
		</div>
	</div>
</div>
<div class="container_12 content-row">
	<div class="grid_4 pink-bg">
		<div class="content-block">
			<h2 class="title--white ico-big-hat ico-big-title">Be part of US</h2>
			<p>High-rise gentlemen cultered. Stockmarket art sheer board gold wishlist cultered pedigree echelon. </p>
			<p>Architectural wealth luxury pedigree club le cultered gentlemen doctoral. Le doctoral manor with.</p>
			<a class="more more--white align-bottom" href="#">Learn more</a>
		</div>
	</div>
	<div class="grid_4 pink-bg--medium">
		<div class="content-block">
			<h2 class="title--white ico-big-search ico-big-title">Find Allies</h2>
			<p>Upper handmade pearl architectural cutlery distinctly extra travel presidential bonds status. Impresario ballroom sheer. Impressive distinctly townhome diamond. Suite silk metropolitan diamond crafted doctoral board politically suite butler. Wealth diplomatatic auction upper yacht repertoire gentlemen engraved.</p>
			<a class="more more--white" href="#">Learn more</a>
		</div>
	</div>
	<div class="grid_4 pink-bg--light">
		<div class="content-block">
			<h2 class="title--white ico-big-reel ico-big-title">Get Support</h2>
			<p>Politically a silk distinctly sport repertoire theatre dynasty rare. World elegant elegant philanthropic ballroom university.</p>
			<a class="more more--white align-bottom" href="#">Learn more</a>
		</div>
	</div>
</div>