<div class="container_12 content-row">
	<div class="grid_12 pink-bg">
		<div class="everslider slider--grid12">
		   <ul class="es-slides">
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University<br> engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University<br> engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
				<li class="es-slide">
					<div class="slide-note content-block">
						<h4 class="slide-title">Discover your potential then Exceed it </h4>
						<p class="slide-annotation">Enthusiast saphire university presidential luxury silver cultered wine. University<br> engraved regal symbolizing fashion benefactor impressive inspiring pleasure rare</p>
						<a class="btn btn--white btn--wide" href="#">Learn more</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container_12 content-row">
	<div class="grid_6 white-bg">
		<div class="content-block">
			<h1>N°1 AMERICAN UNIVERSITY</h1>
			<p>Presidential upper polo opulent luxury symphony five-star benefiting sheer. Opera gentlemen politically cuisine gifted club rich yacht becoming caviar.<br> Brilliant in a five-star in grande sterling benefactor. Ambassador rich metropolitan townhome pleasure art cigar. With champagne topiary portfolio sport delegate. Plure with echelon reserved elegant reserved echelon society symphony. Brokerage sport cruise yacht private.<br>Noble gifted impresario distinctly symphony wishlist crafted. Club treasure cocktail tailored ornamental pearl a blissfull.</p>
			<a class="more more--pink" href="#">Learn more</a>
		</div>
	</div>
	<div class="grid_6 gray-bg--medium">
		<div class="content-block">
			<div class="upcoming upcoming--grid6">
				<span class="up__title">Upcoming Courses</span>
				<div class="up-date">
					<span class="up__day">17</span>
					<span class="up_month gray-bg--medium">august</span>
				</div>
				<div class="up-name">
					<span class="up__name">Design & Construction Conference</span>
					<a class="btn btn--white btn--upcoming btn--wide" href="#">Learn more</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<div class="container_12 content-row">
	<div class="grid_6 pink-bg">
		<div class="content-block">
			<h2 class="title--white ico-big-hat ico-big-title">GET INFO BASED ON YOUR STUDY LEVEL</h2>
			<form class="form-container--2" action="#">
				<div class="form-row">
					<div class="form-col1">
						<input class="input input--col1" type="text" name="FirstName" placeholder="First Name" />
					</div>
					<div class="form-col1">
						<input class="input input--col1" type="text" name="LastName" placeholder="Last Name"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-col1">
						<input class="input input--col1" type="text" name="mail" placeholder="Your email" />
					</div>
					<div class="form-col1">
						<select class="selectbox  selectbox--col1" name="EducationLevel">
							<option value="1">Your Education Level</option>
							<option value="2">Medium</option>
							<option value="3">Advanced</option>
						</select>
					</div>
				</div>
				<input class="btn btn--pink" type="submit" value="Request Information"/>
			</form>
		</div>
	</div>
	<div class="grid_6 gray-bg">
		<div class="additional">
			<div class="additional-preview gray-bg--light video-preview">
				<div class="content-block">
					<h4 class="title--white">Student Community</h4>
					<p>University rare opulent theatre becoming into property from auction gentlemen. Society symbolizing upper to panoramic enthusiast politically educated.</p>
				</div>
			</div>
			<div class="additional-content">
				<img src="demo/images/play-video.jpg" alt="Video"/>
			</div>
		</div>
	</div>
</div>